@import 'fonts.css';

.footer {
    background: #3FA5D5;
    height: 140px;
}

.footer__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.footer__left h2 {
    color: #FFF;
    font-family: 'RB';
    font-size: 50px;
    line-height: 59px;
}

.footer__right {
    display: flex;
    flex-direction: column;
}

.footer__right-tel {
    color: #FFF;
    font-family: 'RB';
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 15px;
}

.footer__right-mail {
    color: #FFF;
    font-family: 'RR';
    font-size: 16px;
    line-height: 19px;
}